<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main.html}">

<body>
    <section layout:fragment="content">
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <h3>Tambah Data Kelas</h3>
            </div>

            <div class="page-content">
                <section class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <form id="form-kelas">
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label for="create-name" class="form-label">Nama</label>
                                            <input type="text" id="create-kelas" name="name" class="form-control"
                                                placeholder="Masukkan Nama" required />
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <input type="hidden" id="create-role" name="role" class="form-control"
                                                value="santri" readonly />
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="bi bi-save"></i> Simpan
                                            </button>
                                            <a href="#" th:href="@{/santri}" class="btn btn-secondary">
                                                <i class="bi bi-arrow-left"></i> Kembali
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <div layout:fragment="js">
        <script th:src="@{/js/kelas.js}"></script>
    </div>
</body>

</html>